{:deps {org.clojure/data.json {:mvn/version "1.0.0"}
        hiccup/hiccup         {:mvn/version "1.0.5"}
        instaparse/instaparse {:mvn/version "1.4.10"}}
 :aliases
 {:native-image {:main-opts ["-m clj.native-image tiler.core"
                             "--initialize-at-build-time"
                             "--no-fallback"
                             "-H:Name=target/tiler"]
                 :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                 :extra-deps
                 {clj.native-image/clj.native-image
                  {:git/url "https://github.com/taylorwood/clj.native-image.git"
                   :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}
  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                       eftest/eftest          {:mvn/version "0.5.9"}}}}}
